#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background:var(--background);
}
/*este es el layout del section services, los estilos de las cards están en el respectivo module.css*/
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
  gap: 15px;
  padding: 80px;
  justify-items: center;
  margin-top:0,5rem;
}
.section-title{
  color:var(--elementsbg);
  font-weight:800;
  font-size: clamp(1rem, 4vw, 4rem);
  line-height:clamp(1rem, 5vw, 3rem);
  display:flex;
  align-items:center;
}
